header {
	@include use-max-width(1024px);
	@include centered;

	color: $color-brand-principal;

	border-bottom: 5px solid $color-brand-principal;
}

section {	

	@include use-max-width; //Asi llamamos el mixin
	@include centered;

	background-color: $color-grey;
	margin-top: 10px ;
	margin-bottom: 10px;
	
}

.max-width--huge {
	@include use-max-width(1024px);
	@include centered;
	background-color: $color-dark-grey;

}


