/*======================
$COLORS
=======================*/
/*Branding resources
======================*/
/*Branding color
===============*/
/*Degradez black - white*/
/*Textures*/
/* tipography
=============== =*/
/*CONSTANTES*/
/*Border*/
/*Un mixin es una funcion 

esta nos permite reusar declaraciones
 y arrojarle parametros

 crea tu parcial de mixins*/
/* Buttons
=========================*/
/* line 4, basics-html/inputs/_buttons.scss */
button {
  background-color: red;
  color: #fee;
  padding: 5px 10px 5px 10px;
  font-size: 27px;
  display: inline-block;
  line-height: 2.5;
  border-radius: 10px;
}
/* line 15, basics-html/inputs/_buttons.scss */
button .btn__icon {
  font-size: 27px;
}
/* line 19, basics-html/inputs/_buttons.scss */
button .btn--warning {
  background-color: yellow;
}

/*block, element, modifier*/
/* line 1, basics-html/inputs/_form.scss */
#form, input {
  background-color: #ffff00;
}

/*======================
$TITLES
=======================*/
/* line 6, basics-html/text/_titles.scss */
h1, h2, h3, h4 {
  font-family: arial, sans-serif;
}

/* line 1, layout/_layout.scss */
header {
  margin: 5px auto 5px auto;
  text-align: center;
}

/* line 6, layout/_layout.scss */
section {
  max-width: 1024px;
  background-color: #999;
  padding: 24px;
  margin: 10px auto 10px auto;
}

/*EJECUCION DE CSS
===================================*/
/* line 38, index.scss */
h1, h2 {
  color: red;
  font-family: helvetica;
}

/* line 45, index.scss */
body {
  background-color: #eee;
  color: red;
}

/* line 50, index.scss */
.primaryPlaylist-title {
  color: red;
}
