/*======================
$COLORS
=======================*/
/*Branding resources
======================*/
/*Branding color
===============*/
/*Degradez black - white*/
/*Textures*/
/* tipography
=============== =*/
/*CONSTANTES*/
/*Border*/
/*Un mixin es una funcion 

esta nos permite reusar declaraciones
 y arrojarle parametros

 crea tu parcial de mixins*/
/* Buttons
=========================*/
/* line 4, basics-html/inputs/_buttons.scss */
button {
  background-color: #1E90FF;
  color: #fee;
  padding: 5px 10px 5px 10px;
  font-size: 27px;
  display: inline-block;
  line-height: 2.5;
  border-radius: 10px;
}
/* line 15, basics-html/inputs/_buttons.scss */
button .btn__icon {
  font-size: 27px;
}
/* line 19, basics-html/inputs/_buttons.scss */
button .btn--warning {
  background-color: yellow;
}

/*block, element, modifier*/
/* line 1, basics-html/inputs/_form.scss */
#form, input {
  background-color: #ffff00;
}

/*======================
$TITLES
=======================*/
/* line 6, basics-html/text/_titles.scss */
h1, h2, h3, h4 {
  font-family: arial, sans-serif;
}

/* line 1, layout/_layout.scss */
header {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  text-align: center;
  color: #1E90FF;
  border-bottom: 5px solid #1E90FF;
}

/* line 10, layout/_layout.scss */
section {
  max-width: 824px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  text-align: center;
  background-color: #999;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 21, layout/_layout.scss */
.max-width--huge {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  text-align: center;
  background-color: #444;
}

/*EJECUCION DE CSS
===================================*/
/* line 38, index.scss */
h1, h2 {
  color: #1E90FF;
  font-family: helvetica;
  text-shadow: 1px 2px 8px #bbb;
}

/* line 46, index.scss */
body {
  background-color: #eee;
  color: #fee;
}

/* line 51, index.scss */
.primaryPlaylist-title {
  color: red;
}
