
//Importacion de archivos parciales scss
//========================================
	
	//Librerias, Settings y variables
	//===============================*/
	@import "lib/_variables.scss";
	@import "lib/_mixins.scss";



	//Elementos bases HTML
	//=========================*/
	@import "basics-html/containers/_div.scss";
	@import "basics-html/containers/_section.scss";

	@import "basics-html/inputs/_buttons.scss";
	@import "basics-html/inputs/_form.scss";
	@import "basics-html/text/_titles.scss";

	//Elementos de interfaz
	//=========================*/

	//Layout
	//=========*/

	@import "layout/_layout.scss";

	//Utilities
	//=============*/

	@import "utilities/_utilities.scss";
	//Siempre al final


/*EJECUCION DE CSS
===================================*/	
	h1 , h2 {

		color: $color-brand-principal;
		font-family: $font-brand-principal;
		text-shadow: 1px 2px 8px #bbb;

	}

	body {
		background-color: $color-brand-secondary; 
		color: $color-white;
	}

	.primaryPlaylist-title {
		color: red;
	}
