/**/

/*Branding resources
======================*/

/*Branding color
===============*/

$color-brand-principal: #5555ff;

$font-brand-principal: helvetica;

h1 , h2 {

	color: $color-brand-principal;
	font-family: $font-brand-principal;

}

